<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327577387696-2to7rq1nspmcmmq75m45pore1o9ma61f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327577387696-2to7rq1nspmcmmq75m45pore1o9ma61f</string>
	<key>API_KEY</key>
	<string>AIzaSyDP8yEDs_HRWytOzN_zFHPMPevt0GmJODY</string>
	<key>GCM_SENDER_ID</key>
	<string>327577387696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhruba.boiKhata</string>
	<key>PROJECT_ID</key>
	<string>boikhata-aed33</string>
	<key>STORAGE_BUCKET</key>
	<string>boikhata-aed33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327577387696:ios:3aca64250e63d156013175</string>
</dict>
</plist>